@import '../fonts_family/fonts';

@mixin avatar {
    
    width: 30px;
    height: 30px;
    border: 2px solid #565656;
    border-radius: 5px;
}

@mixin header_style {
    .menu {
        width: 100%;
        height: 80px;
        background-color: #FCC12B;
        font-family: Roboto;
        line-height: 37px;

        display: grid;
        grid-template-columns: 270px auto auto 55px;
        align-items: center;

        img {
            width: 200px;
            height: 70px;
            margin-left: 40px;
        }

        h3 {
            justify-self: start;
            user-select: none;
        }

        .sign-in {
            margin-right: 40px;
        }


    }

    .menu-desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        a {
            width: auto;
            height: auto;

            justify-self: center;

            user-select: none;

            text-decoration: none;
            color: #000;
            font-family: 'Roboto';
            font-weight: bold;
            cursor: pointer;
        }

        .sign_out_block {
            display: grid;
            grid-template-columns: 60% 40%;
            align-items: center;

            width: 130px;
            .avatar {
                @include avatar();
            }
        }

    }

    .img-header {
        width: 100%;
        height: 760px;
        background-image: url("/img/вокзал_фон.png");
        background-position: center center;
        background-size: cover;
        background-position: center;

        p {
            position: relative;
            font-family: 'IBM Plex Serif';
            font-style: normal;
            font-weight: 400;
            color: #fff;
        }

        .text-header {
            width: 78%;
            left: 40px;
            top: 50%;
            font-size: 4.5vw;

        }

        .booking {
            width: 60%;
            left: 40px;
            top: 55%;
            font-size: 2vw;
        }
    }
}

@mixin form {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);

    input,
    button {
        width: 80%;
        height: 40px;

        justify-self: center;

        margin: 10px;

        border: 0;
        border-radius: 10px;

        font-family: 'IBM Plex Serif';
        font-weight: 600;

        cursor: pointer;
    }

    button {
        width: 50%;
        background-color: #FFD567;
    }

    a {
        text-decoration: none;
        color: #000;
        font-family: 'IBM Plex Serif';

        justify-self: center;
    }
}

@mixin footer_style {
    width: 100%;
    height: 50px;
    background: #FCC12B;

    p {
        width: auto;
        margin: 0 auto;
        text-align: center;
        font-family: 'IBM Plex Serif';
        font-size: 15px;
    }
}