<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icons-railway-station.ico">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval' https://course-project-jggs.onrender.com/" >
    <title>Бронирование</title>
    <link rel="stylesheet" href="/scss/booking/booking.css">
</head>

<body>
    <div class="modal"></div>
    <div class="wrapper">
        <h2>Бронирование поездов и электричек</h2>
        <div>
            <input class="input_where_from" type="text" placeholder="Откуда">
            <input class="input_where_to" type="text" placeholder="Куда">
            <input class="input_date" type="time">
            <button class="button_booking">
                Забронировать
            </button>
        </в>
    </div>
    <script src="/js/booking.js"></script>
</body>

</html>