<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="default-src * 'unsafe-inline' 'unsafe-eval' https://course-project-jggs.onrender.com/">
    <link rel="icon" href="/img/icons-railway-station.ico">
    <link rel="stylesheet" href="/scss/home/home.css">
    <link rel="stylesheet" href="/scss/media/media_home_page/media.css">
    <link rel="stylesheet" href="/scss/burger_menu/burger_menu.css">
    <title>Железнодорожный вокзал</title>
</head>

<body>
    <header>
        <nav class="menu">
            <a href="/components/home.html"><img src="/img/вокзал.svg" alt="Иконка вокзала"></a>
            <h3>Железнодорожный вокзал</h3>
            <div class="menu-desktop">
                <a href="/components/table_train.html">Расписание поездов</a>
                <a href="/components/booking.html" class="booking-menu">Забронировать</a>
                <a href="/components/sign_in.html" class="sign-in">Войти</a>
            </div>
            <div class="burger-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
        <nav class="burger-content burger-container-off">
            <a href="/components/table_train.html">Расписание поездов</a>
            <a href="/components/booking.html" lass="booking">Забронировать</a>
            <a href="/components/sign_in.html" class="sign-in sign-in-mobile">Войти</a>
        </nav>

        <div class="img-header">
            <p class="text-header">
                Самые быстрые поездки только на Минском ж/д вокзале
            </p>
            <p class="booking">
                Приступим к бронированию?
            </p>
        </div>

    </header>
    <main>
        <section class="block-cards">
            <div class="cards">
                <div class="card">
                    <p class="number">1</p>
                    <div class="block">
                        <p>Вокзал находится в центре города!</p>
                    </div>
                </div>
                <div class="card">
                    <p class="number">2</p>
                    <div class="block">
                        <p>Самые удобные поезда!</p>
                    </div>
                </div>
                <div class="card c3">
                    <p class="number">3</p>
                    <div class="block">
                        <p>Самый вежливый и приветливый персонал!</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="background">
                <div class="rectangle">
                    <p>Расписание поездов</p>
                    <a href="/components/table_train.html">Перейти к расписанию →</a>
                </div>
            </div>
        </section>

        <section>
            <div class="info">
                <p class="adress">Вокзал находится по адресу:
                    г. Минск, Привокзальная площадь, 5</p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1089.646614760959!2d27.549525129411048!3d53.89059920122846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfdc32da8473%3A0x1cf1974b543e26c8!2z0JzQuNC90YHQui3Qn9Cw0YHRgdCw0LbQuNGA0YHQutC40Lk!5e0!3m2!1sru!2sby!4v1683651821649!5m2!1sru!2sby"
                    width="500" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                <img src="/img/support.png" alt="">
                <p class="number support">Справочное бюро:(+375 17) 225 69 08</p>
                <p class="number camera">Камеры хранения:(+375 17) 225 06 71</p>
            </div>
        </section>
    </main>
    <footer>
        <p>
            © 2018 - 2023 Все права защищены Железнодорожный вокзал «Минск-Пассажирский».
        </p>
    </footer>
    <div class="modal"></div>
    <script src="/js/burger_menu.js"></script>
    <script src="/js/check_user.js"></script>
</body>

</html>