<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scss/home/home.css">
    <link rel="stylesheet" href="/scss/media/media_home_page/media.css">
    <link rel="stylesheet" href="/scss/burger_menu/burger_menu.css">
    <title>Железнодорожный вокзал</title>
</head>

<body>
    <header>
        <div class="menu">
            <a href="components/home.html"><img src="/img/Опять_вокзал_Стасу_Монтажная_область_1.svg" alt="Иконка вокзала"></a>
            <h3>Железнодорожный вокзал</h3>
            <div class="menu-desktop">
                <a href="table_train.html">Расписание поездов</a>
                <a href="booking.html">Забронировать</a>
                <a href="sign_in.html" class="sign-in">Войти</a>
            </div>
            <div class="burger-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div class="burger-container-off">
            <a href="table_train.html">Расписание поездов</a>
            <a href="booking.html">Забронировать</a>
            <a href="sign_in.html" class="sign-in">Войти</a>
        </div>
        
        <div class="img-header">
                <p class="text-header">
                    Самые быстрые поездки только на Минском ж/д вокзале
                </p>
                <p class="booking">
                    Приступим к бронированию?
                </p>
        </div>
        
    </header>
    <main>
        <section class="block-cards">
            <div class="cards">
                <div class="card">
                    <div class="number">1</div>
                    <div class="block">
                        <p>Вокзал находится в центре города!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="number">2</div>
                    <div class="block">
                        <p>Самые удобные поезда!</p>
                    </div>
                </div>
                <div class="card c3">
                    <div class="number">3</div>
                    <div class="block">
                        <p>Самый вежливый и приветливый персонал!</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="background">
                <div class="rectangle">
                    <p>Расписание поездов</p>
                    <button><a href="booking.html">Перейти к расписанию →</a></button>
                </div>
            </div>
        </section>

        <section>
            <div class="info">
                <p class="adress">Вокзал находится по адресу:
                    г. Минск, Привокзальная площадь, 5</p>
                <img src="/img/support.png" alt="">
                <p class="number">Справочное бюро:(+375 17) 225 69 08</p>
                <p class="number">Камеры хранения:(+375 17) 225 06 71</p>
            </div>
        </section>
    </main>
    <footer>
        <p>
            © 2018 - 2023 Все права защищены Железнодорожный вокзал «Минск-Пассажирский».
        </p>
    </footer>

    <script src="/js/main.js"></script>
</body>

</html>