<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval' https://course-project-jggs.onrender.com/" >
    <link rel="icon" href="/img/icons-railway-station.ico">
    <link rel="stylesheet" href="/scss/log_in/log_in.css">
    <title>Регистрация</title>
</head>
<body>
    <div class="wrapper">
        <h2>Регистрация</h2>
        <form method="post" action="/log_in" class="container_log_in">
            <input class="input_login" name="login_user" type="text" placeholder="Логин">
            <input class="input_password" name="password_user" type="password" placeholder="Пароль">
            <input class="input_doble_password" name="second_password_user" type="password" placeholder="Повторите пароль">
            <button type="submit" class="button_booking">
                Зарегистрироваться
            </button>
            <a href="/components/home.html">Домой</a>
        </form>
    </div>
</body>
</html>