<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval' https://course-project-jggs.onrender.com/" >
    <link rel="icon" href="/img/icons-railway-station.ico">
    <link rel="stylesheet" href="/scss/table_train/table_train.css">
    <link rel="stylesheet" href="/scss/media/media_table_train/media.css">
    <link rel="stylesheet" href="/scss/burger_menu/burger_menu.css">
    
    <title>Расписание поездов</title>
</head>

<body>
    <header>
        <nav class="menu">
            <a href="/components/home.html"><img src="/img/вокзал.svg" alt="Иконка вокзала"></a>
            <h3>Железнодорожный вокзал</h3>
            <div class="menu-desktop">
                <a href="/components/table_train.html">Расписание поездов</a>
                <a href="/components/booking.html" class="booking-menu">Забронировать</a>
                <a href="/components/sign_in.html" class="sign-in">Войти</a>
            </div>
            <div class="burger-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
        <nav class="burger-content burger-container-off">
            <a href="/components/table_train.html">Расписание поездов</a>
            <a href="/components/booking.html" lass="booking">Забронировать</a>
            <a href="/components/sign_in.html" class="sign-in sign-in-mobile">Войти</a>
        </nav>
    </header>
    <main>
        <section> 
            <h2>Расписание поездов и электричек</h2>
            <div class="booking">
                <input class="input_where_from" type="text" placeholder="Откуда">
                <input class="input_where_to" type="text" placeholder="Куда">
                <button class="button_booking">
                    Забронировать
                </button>
            </div>
        </section>
        <section>
            <div class="table"></div>
        </section>
    </main>
     <footer>
        <p>
            © 2018 - 2023 Все права защищены Железнодорожный вокзал «Минск-Пассажирский».
        </p>
    </footer>

    <div class="modal"></div>
    <script src="/js/parser_to_train.js"></script>
    <script src="/js/burger_menu.js"></script>
    <script src="/js/check_user.js"></script>
    
</body>

</html>