.burger-menu {
    width: 50px;
    height: 40px;
    display: none;
    justify-self: end;

    div {
        width: 41px;
        height: 4px;
        margin: 7px;
        background-color: #000;
    }

    .open-1 {
        animation: open_top_line .25s;
        position: relative;
        top: 24%;
        transform: rotate(45deg);
    }

    .open-2 {   
        opacity: 0;
    }

    .open-3 {
        animation: open_bottom_line .25s;
        position: relative;
        bottom: 30%;
        transform: rotate(-45deg);
    }

    .close-1 {
        animation: close_top_line .25s;
        position: relative;
        top: 0%;
        transform: rotate(0deg);
    }

    .close-2 {  
        transition: .25s ease-in-out; 
        opacity: 1;
    }

    .close-3 {
        animation: close_bottom_line .25s;
        position: relative;
        bottom: 0%;
        transform: rotate(0deg);
    }


}
@keyframes open_top_line {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes open_bottom_line {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes close_top_line {
    0% {
        top: 24%;
        transform: rotate(45deg);
    }
    100% {
        top: 0%;
        transform: rotate(0deg);
    }
}

@keyframes close_bottom_line {
    0% {
        bottom: 30%;
        transform: rotate(-45deg);
    }
    100% {
        bottom: 0%;
        transform: rotate(0deg);
    }
}

.burger-container-on, .burger-container-off {
    
    width: 100%;
    animation: menu_on .5s;
    height: 40px;
    background-color: #FFD567;
    
    text-align: center;
    
    a {
        display: inline-block;
        animation: menu_on .5s;
        height: 40px;
        margin-left: 30px;
        opacity: 1;
        user-select: none;

        text-decoration: none;

        color: #000;
        font-family: Roboto;
        font-weight: bold;
    }
}
.burger-container-off {
    
    animation: menu_off .5s;
    opacity: 0;
    height: 0px;

    a {
        animation: menu_off .5s;
        opacity: 0;
        height: 0px;
    }
}

@keyframes menu_on {
    0% {
        height: 0px;
        opacity: 0;
    } 
    100% {
        height: 40px;
        opacity: 1;
    
    }
}
@keyframes menu_off {
    0% {
        height: 40px;
        opacity: 1;
    } 
    100% {
        height: 0px;
        opacity: 0;
    }
}