<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/sign_in/sign_in.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <h2>Войти</h2>
        <form class="container_log_in">
            <input class="input_login" type="text" placeholder="Логин">
            <input class="input_password" type="text" placeholder="Пароль">
            <button class="button_booking">
                Войти
            </button>
            <a href="log_in.html">Зарегистрироваться</a>
        </form>
    </div>
</body>
</html>