@import '../mixins/mixins', '../burger_menu/burger_menu', '../media/media_table_train/media.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;

    height: 100vh;

    background: url('../../img/фото4_1-transformed.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: grid;
    grid-template-rows: 30% 70%;
    justify-items: center;
    align-items: center;

    width: 60%;
    height: 300px;

    background-color: #FCC12B;
    border-radius: 30px;


    h2 {
        font-family: 'IBM Plex Serif';
        align-self: end;
        margin-bottom: 20px;
        text-align: center;
    
    }

    .container_booking {
width: 100%;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        margin-top: 10px;

        align-self: start;

        .input_where_from,
        .input_date {
            justify-self: end;
            margin-right: 5%;
        }

        .input_where_to,
        .button_booking {
            margin-left: 5%;
        }

        input,
        button {
            width: 80%;
            height: 40px;

            margin: 10px;

            border: 0;
            border-radius: 10px;

            font-family: 'IBM Plex Serif';
            font-weight: 600;
        }

        button {
            background-color: #FFD567; 
        }
    }
}

@media (max-width: 1024px) {
    .wrapper {

        h2 {
            font-size: 18px;
        }
        
    }
}

@media (max-width: 425px) {
    .wrapper {

       h2 {
        font-size: 14px;
       }
        .container_booking {
           
            button {
                font-size: 10px;
            }
        }
    }
}