@import '../mixins/mixins.scss';

* {
    margin: 0;
    padding: 0;
}

html {
    height: 760px;
}
body {
    height: 760px;
    display: -ms-grid;
    display: grid;
    background: #F5F5F5;
}
header {

   @include header_style();

   margin-bottom: 10px;

}
section {
    h2 {
        font-family: 'IBM Plex Serif';
        text-align: center;

        margin-bottom: 40px;
    }
}
.booking {
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-template-rows: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);

    margin-bottom: 40px;
    
    .input_where_from, .input_date {
        -ms-grid-column-align: end;
            justify-self: end;
        margin-right: 30px;
    }

    .input_where_to, .button_booking {
        margin-left: 30px;
    }

    input, button {
        width: 320px;
        height: 40px;
        
        margin: 10px;

        border: 0;
        border-radius: 10px;

        font-family: 'IBM Plex Serif';
        font-weight: 600;

        cursor: pointer;
    }

    .button_booking {
        grid-column: 1/3;
        justify-self: center;
    }
    button {
        background-color: #FCC12B;
    }
}
.booking > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1
}
.booking > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2
}
.booking > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1
}
.booking > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2
}
.booking > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1
}
.booking > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2
}
.booking > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1
}
.booking > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2
}

.table {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    justify-items: center;
    
    margin-bottom: 50px;
    .rows {
        width: 80%;

        display: -ms-grid;

        display: grid;
        -ms-grid-columns: 10% 40px 85%;
        grid-template-columns: 10% 40px 85%;

        .time {
            -ms-grid-column-align: center;
                justify-self: center;
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;

            font-family: 'IBM Plex Serif';
            font-weight: 600;
        }

        .trainImg {
            width: 40px;
            height: 40px;

            margin: 5px;
        }

        .way {
            width: 80%;
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;

            font-family: 'IBM Plex Serif';
            font-weight: 600;
        }
    }  
    .rows:nth-child(2n) {
        background-color: #FFD567;
    }

    .rows:nth-child(2n+1) {
        background-color: #FFE297;
    }
    .error_message {
        font-family: 'IBM Plex Serif';
            font-weight: 600;
    }
}
/*-----------------------FOOTER-------------------------*/
footer {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    @include footer_style();

}

.modal {
   
    opacity: 0;
    position: absolute;
    top: 5%;
    left: 40%;
    z-index: 3;
    
    
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(249, 27, 27, 0.752);
    p {
        font-family: "IBM Plex Serif";
    }
}

@keyframes anim_error {
    15% {
    opacity: 1;
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
        opacity: 1;
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
        opacity: 1;
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
        opacity: 0;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }