@charset "UTF-8";
@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBM Plex Serif";
  src: url("../../fonts/IBMPlexSerif-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Inter;
  src: url("../../fonts/Inter-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBM Plex Serif";
  src: url("../../fonts/IBMPlexSerif-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Inter;
  src: url("../../fonts/Inter-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.burger-menu {
  width: 50px;
  height: 40px;
  display: none;
  justify-self: end;
}
.burger-menu div {
  width: 41px;
  height: 4px;
  margin: 7px;
  background-color: #000;
}
.burger-menu .open-1 {
  animation: open_top_line 0.25s;
  position: relative;
  top: 24%;
  transform: rotate(45deg);
}
.burger-menu .open-2 {
  opacity: 0;
}
.burger-menu .open-3 {
  animation: open_bottom_line 0.25s;
  position: relative;
  bottom: 30%;
  transform: rotate(-45deg);
}
.burger-menu .close-1 {
  animation: close_top_line 0.25s;
  position: relative;
  top: 0%;
  transform: rotate(0deg);
}
.burger-menu .close-2 {
  transition: 0.25s ease-in-out;
  opacity: 1;
}
.burger-menu .close-3 {
  animation: close_bottom_line 0.25s;
  position: relative;
  bottom: 0%;
  transform: rotate(0deg);
}
@keyframes open_top_line {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes open_bottom_line {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes close_top_line {
  0% {
    top: 24%;
    transform: rotate(45deg);
  }
  100% {
    top: 0%;
    transform: rotate(0deg);
  }
}
@keyframes close_bottom_line {
  0% {
    bottom: 30%;
    transform: rotate(-45deg);
  }
  100% {
    bottom: 0%;
    transform: rotate(0deg);
  }
}
.burger-container-on,
.burger-container-off {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  animation: menu_on 0.5s;
  height: 60px;
  background-color: #FFD567;
  text-align: center;
}
.burger-container-on a,
.burger-container-off a {
  height: 30px;
  margin-left: 30px;
  margin-top: 20px;
  opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #000;
  font-family: Roboto;
  font-weight: bold;
}
.burger-container-on .sign_out_block,
.burger-container-off .sign_out_block {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  width: 130px;
}
.burger-container-on .sign_out_block .avatar,
.burger-container-off .sign_out_block .avatar {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: 2px solid #565656;
  border-radius: 5px;
}
.burger-container-on .sign_out_block a,
.burger-container-off .sign_out_block a {
  margin-top: 5px;
}

.burger-container-off {
  animation: menu_off 0.5s;
  opacity: 0;
  height: 0px;
}
.burger-container-off a {
  opacity: 0;
  height: 0px;
}
@keyframes menu_on {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 60px;
    opacity: 1;
  }
}
@keyframes menu_off {
  0% {
    height: 60px;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@media (max-width: 425px) {
  header .burger-container-on a {
    height: 10px;
    margin-top: 5px;
  }
}
@media (max-width: 1024px) {
  header h3 {
    display: none;
  }
  header .img-header {
    height: 480px;
  }
  .table section .info img {
    width: 240px;
    height: 240px;
  }
}
@media (max-width: 980px) {
  header .menu {
    grid-template-columns: 270px auto;
  }
  header .menu-desktop {
    justify-self: end;
  }
  .c3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    justify-self: center;
  }
}
@media (max-width: 720px) {
  header .menu .menu-desktop {
    display: none;
  }
  header .menu .burger-menu {
    display: block;
  }
  section .booking {
    display: grid;
    grid-template-columns: 1fr;
    -ms-grid-template-rows: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  section .booking .input_where_from, section .booking .input_date,
  section .booking .input_where_to, section .booking .button_booking {
    justify-self: center;
    margin-left: 10px;
    margin-right: 0px;
  }
  section .booking > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  section .booking > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  section .booking > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  section .booking > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}
@media (max-width: 585px) {
  header .menu img {
    margin-left: 0px;
  }
  .table .rows {
    width: 100%;
  }
  .table .time {
    font-size: 12px;
    margin-left: 5px;
  }
  .table .way {
    width: 100%;
    font-size: 12px;
    margin-left: 5px;
  }
}
@media (max-width: 425px) {
  header .menu a img {
    width: 120px;
    height: 42px;
    margin-left: 20px;
  }
  .booking input, .booking button {
    width: 250px;
    height: 40px;
  }
  footer p {
    font-size: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 10% 90%;
  justify-items: center;
  align-items: center;
  -ms-align-items: center;
  height: 100vh;
  background: url("/img/вокзал_фон.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-template-rows: 20% 80%;
  justify-items: center;
  align-items: center;
  width: 60%;
  height: 300px;
  background-color: #FCC12B;
  border-radius: 30px;
}
.wrapper h2 {
  font-family: "IBM Plex Serif";
  align-self: end;
  margin-bottom: 20px;
  text-align: center;
}
.wrapper .container_log_in {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}
.wrapper .container_log_in input,
.wrapper .container_log_in button {
  width: 80%;
  height: 40px;
  justify-self: center;
  margin: 10px;
  border: 0;
  border-radius: 10px;
  font-family: "IBM Plex Serif";
  font-weight: 600;
  cursor: pointer;
}
.wrapper .container_log_in button {
  width: 50%;
  background-color: #FFD567;
}
.wrapper .container_log_in a {
  text-decoration: none;
  color: #000;
  font-family: "IBM Plex Serif";
  justify-self: center;
}

.modal {
  opacity: 0;
  position: relative;
  top: 0%;
  z-index: 3;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.modal p {
  font-family: "IBM Plex Serif";
}

.in_account {
  background-color: rgba(0, 218, 0, 0.752);
}

.error {
  background-color: rgba(249, 27, 27, 0.752);
}

@keyframes anim_error {
  15% {
    opacity: 1;
    transform: translateX(9px);
  }
  30% {
    transform: translateX(-9px);
  }
  40% {
    opacity: 1;
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-6px);
  }
  65% {
    opacity: 1;
    transform: translateX(3px);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  25% {
    top: 25%;
  }
  50% {
    opacity: 1;
    top: 25%;
  }
  100% {
    opacity: 0;
    top: 50%;
  }
}
@media (max-width: 425px) {
  .wrapper form button {
    width: 80%;
  }
}/*# sourceMappingURL=sign_in.css.map */