@import '../mixins/mixins', '../burger_menu/burger_menu', '../media/media_table_train/media.scss';

*  {
    margin: 0;
    padding: 0;
}

body {

    display: -ms-grid;

    display: grid;
    -ms-grid-rows: 10% 90%;
    grid-template-rows: 10% 90%;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
         align-items: center;
         -ms-align-items: center;

    height: 100vh;

    background: url('/img/вокзал_фон.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 20% 80%;
    grid-template-rows: 20% 80%;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 60%;
    height: 300px;

    background-color: #FCC12B;
    border-radius: 30px;


    h2 {
        font-family: 'IBM Plex Serif';
        -ms-flex-item-align: end;
            -ms-grid-row-align: end;
            align-self: end;
        margin-bottom: 20px;
        text-align: center;
    
    }

    .container_log_in {
        @include form;
    }

    
}

.modal {
    opacity: 0;
    position: relative;
    top: 0%;
    z-index: 3;
    
    
    border: none;
    border-radius: 5px;
    padding: 10px;

    p {
        font-family: "IBM Plex Serif";
    }
}
.in_account {
    background-color: rgba(0, 218, 0, 0.752);
}
.error {
    
    background-color: rgba(249, 27, 27, 0.752);

}

@keyframes anim_error {
    15% {
    opacity: 1;
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
        opacity: 1;
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
        opacity: 1;
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
        opacity: 0;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  

@-webkit-keyframes anim {
    0% {
        opacity: 0;
    }
    25% {
        top: 25%;
    }
    50% {
        opacity: 1;
        top: 25%;
    }
    100% {
        opacity: 0;
        top: 50%;
    }
}
  

@keyframes anim {
    0% {
        opacity: 0;
    }
    25% {
        top: 25%;
    }
    50% {
        opacity: 1;
        top: 25%;
    }
    100% {
        opacity: 0;
        top: 50%;
    }
}

@media (max-width: 425px) {
    .wrapper {
        form {
            button {
                width: 80%;
            }
        }
    }
}