@import '../mixins/mixins', '../burger_menu/burger_menu', '../media/media_table_train/media.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 90%;
    grid-template-rows: 10% 90%;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    height: 100vh;

    background: url('/img/перон_фон.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 30% 70%;
    grid-template-rows: 30% 70%;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 60%;
    height: 260px;

    background-color: #FCC12B;
    border-radius: 30px;


    h2 {
        font-family: 'IBM Plex Serif';
        -ms-flex-item-align: end;
            -ms-grid-row-align: end;
            align-self: end;
        margin-bottom: 10px;
        text-align: center;
    }

    div{
        width: 100%;

        display: -ms-grid;

        display: grid;
        -ms-grid-columns:  (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-template-rows: repeat(2, 1fr);
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);

        margin-top: 10px;

        -ms-grid-row-align: start;

            align-self: start;

        .input_where_from,
        .input_date {
            -ms-grid-column-align: end;
                justify-self: end;
            margin-right: 5%;
        }

        .input_where_to,
        .button_booking {
            margin-left: 5%;
        }

        input,
        button {
            width: 80%;
            height: 40px;

            margin: 10px;

            border: 0;
            border-radius: 10px;

            font-family: 'IBM Plex Serif';
            font-weight: 600;
        }

        button {
            background-color: #FFD567;
        }
    }

    div > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1
    }

    div > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 2
    }

    div > *:nth-child(3){
        -ms-grid-row: 2;
        -ms-grid-column: 1
    }

    div > *:nth-child(4){
        -ms-grid-row: 2;
        -ms-grid-column: 2
    }
}

.modal {
    opacity: 0;
    position: relative;
    top: 0%;
    z-index: 3;
    
    
    border: none;
    border-radius: 5px;
    padding: 10px;

    p {
        font-family: "IBM Plex Serif";
    }
}
.in_account {
    background-color: rgba(0, 218, 0, 0.752);
}
.error {
    
    background-color: rgba(249, 27, 27, 0.752);

}

@-webkit-keyframes anim_error {
    15% {
    opacity: 1;
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
        opacity: 1;
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
        opacity: 1;
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
        opacity: 0;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

@keyframes anim_error {
    15% {
    opacity: 1;
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
        opacity: 1;
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
        opacity: 1;
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
        opacity: 0;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  

@-webkit-keyframes anim {
    0% {
        opacity: 0;
    }
    25% {
        top: 25%;
    }
    50% {
        opacity: 1;
        top: 25%;
    }
    100% {
        opacity: 0;
        top: 50%;
    }
}
  

@keyframes anim {
    0% {
        opacity: 0;
    }
    25% {
        top: 25%;
    }
    50% {
        opacity: 1;
        top: 25%;
    }
    100% {
        opacity: 0;
        top: 50%;
    }
}

@media (max-width: 1024px) {
    .wrapper {

        h2 {
            font-size: 18px;
        }

    }
}

@media (max-width: 425px) {
    .wrapper {
        -ms-grid-rows: 20% 80%;
        grid-template-rows: 20% 80%;

        height: 340px;
        h2 {
            font-size: 14px;
        }

        div {
            height: auto;

            -ms-grid-columns: 1fr;

            grid-template-columns: 1fr;
            -ms-grid-template-rows: repeat(4, 1fr);
            -ms-grid-rows: (1fr)[4];
            grid-template-rows: repeat(4, 1fr);

            .input_where_from, .input_date,
            .input_where_to, .button_booking {
                -ms-grid-column-align: center;
                    justify-self: center;
                margin-left: 10px;
                margin-right: 0px;
            }

            button {
                font-size: 10px;
            }
        }

        div > *:nth-child(1) {
            -ms-grid-row: 1;
            -ms-grid-column: 1
        }

        div > *:nth-child(2) {
            -ms-grid-row: 2;
            -ms-grid-column: 1
        }

        div > *:nth-child(3) {
            -ms-grid-row: 3;
            -ms-grid-column: 1
        }

        div > *:nth-child(4) {
            -ms-grid-row: 4;
            -ms-grid-column: 1
        }
    }
}