/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import '../mixins/mixins.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    background: #F5F5F5;
}

/*----------------------HEADER---------------------*/
header {

    @include header_style();

    margin-bottom: 10px;
}

/*--------------------------MAIN--------------------*/
.block-cards {
    height: auto;
    margin-bottom: 40px;


    .cards {
        height: auto;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        -ms-grid-rows: 250px;
        grid-template-rows: repeat(1, 250px);
        grid-gap: 10px;
        justify-items: center;

        .card {
            width: 320px;
            height: 250px;

            .block {
                width: 320px;
                height: 180px;
                background: #FFD567;
                border-radius: 25px;

                display: -ms-grid;

                display: grid;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                text-align: center;

                p {
                    width: auto;
                    font-family: Inter;
                    font-size: 26px;
                }
            }

            .number {
                width: 70px;
                height: 70px;
                border-radius: 100%;
                background: #D5A52A;
                font-size: 54px;
                font-family: Inter;
                position: relative;
                top: 30px;
                left: 40%;

                display: -ms-grid;

                display: grid;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                text-align: center;
            }
        }
    }
}

.background {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 760px;
    background-image: url("/img/перон_фон.png");
    background-position: center center;
    background-size: cover;
    background-position: center;


    .rectangle {
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
        -ms-grid-row-align: end;
        align-self: end;
        height: 30%;
        background: rgba(77, 76, 76, 0.48);

        p {
            width: auto;
            height: 66px;
            font-family: 'IBM Plex Serif';
            font-size: 5vw;
            color: #fff;
            margin-left: 40px;
        }

            a {
                width: 40%;
                height: 50%;
                background: #FCC12B;
                border-radius: 100px;
                border: none;
                margin: 10px;
                font-family: 'IBM Plex Serif';
                font-size: 2vw;
                text-decoration: none;
                text-align: center;
                color: #000;

                justify-self: end;
            }
        
    }
}

.info {
    width: 80%;
    height: 800px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 26% 5px 30% 5px 30%;
    grid-template-rows: 15% 35% 25% 25%;
    grid-row-gap: 5px;
    margin: 0 auto;

    .adress {
        -ms-grid-column-align: center;
        justify-self: center;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
        font-family: 'IBM Plex Serif';
        font-size: 3vw;
        width: 75%;
        text-align: center;
    }

    img {
        width: 345px;
        height: 354px;
        -ms-grid-column-align: center;
        justify-self: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        grid-row: 3/5;
    }

    iframe {
        -ms-grid-column-align: center;
        justify-self: center;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
        
        width: 75%;
        height: 100%;
        margin: 0 auto;
    }

    .number {
        justify-self: center;
        font-family: 'IBM Plex Serif';
        font-size: 3vw;
        width: 75%;
    }
    .support {
        align-self: end;
    }
    .camera {
        align-self: start;
    }
}

.info>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1
}

.info>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2
}

.info>*:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1
}

.info>*:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 2
}

.info>*:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1
}

.info>*:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 2
}

/*-----------------------FOOTER-------------------------*/
footer {
    @include footer_style();
}